@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    int count = 0;
}

<h2>Blog Lists</h2>
@*<span>@Model.Count()</span>*@

<a href="/Blog/Create" class="btn btn-success">New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Blog Title</th>
            <th>Blog Author</th>
            <th>Blog Content</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogModel item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
                <td>
                    <a href="/Blog/Edit/@item.BlogId" class="btn btn-primary">Edit</a>
                    <a href="/Blog/Delete/@item.BlogId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
