@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    int count = 0;
}

<h2>Blog Lists</h2>
@*<span>@Model.Count()</span>*@

<a href="/BlogAjax/Create" class="btn btn-success">New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Blog Title</th>
            <th>Blog Author</th>
            <th>Blog Content</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogModel item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
                <td>
                    <a href="/BlogAjax/Edit/@item.BlogId" class="btn btn-primary">Edit</a>
                    @*<a href="/BlogAjax/Delete/@item.BlogId" class="btn btn-danger">Delete</a>*@
                    <button type="button" class="btn btn-danger btn-delete" data-id="@item.BlogId">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>$('.btn-delete').click(function () {

            let id = $(this).data('id');

            Swal.fire({
                title: "Are you sure?",
                text: "You want to delete this data?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteBlog(id);
                }
            });
        })

        function deleteBlog(id) {
            let _requestModel = {
                BlogId: id
            };

            $.ajax({
                url: "/BlogAjax/Delete/",
                data: { blog: _requestModel },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.IsSuccess) {
                        Swal.fire({
                            title: "Success!",
                            text: result.Message,
                            icon: "success",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/BlogAjax";
                            }
                        });
                    } else {
                        Swal.fire({
                            title: "Errors",
                            text: result.Message,
                            icon: "error"
                        });
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }</script>
}

