@page "/blog"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<h3>Blog</h3>

<div class="mb-3">
    <label class="form-label">Blog Title</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogTitle">
</div>
<div class="mb-3">
    <label class="form-label">Blog Author</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogAuthor">
</div>
<div class="mb-3">
    <label class="form-label">Blog Content</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogContent">
</div>

@if (requestModel.BlogId == 0)
{
    <button type="button" class="btn btn-success" @onclick="Save">Save</button>
}
else if (requestModel.BlogId > 0)
{
    <button type="button" class="btn btn-success" @onclick="Update">Update</button>
}

@if (Blogs != null && Blogs.Count > 0)
{
    int count = 0;
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Blogs)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.BlogId</td>
                    <td>@item.BlogTitle</td>
                    <td>@item.BlogAuthor</td>
                    <td>@item.BlogContent</td>
                    <td>
                        <button type="button" class="btn btn-primary me-2" @onclick="() => Edit(item.BlogId)">Edit</button>
                        <button type="button" class="btn btn-danger" @onclick="() => Delete(item.BlogId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BlogModel requestModel = new();
    private readonly string apiEndPoint = "api/Blog";
    private List<BlogModel> Blogs = new List<BlogModel>();

    protected override async Task OnInitializedAsync()
    {
        await List();
    }


    private async Task List()
    {
        var response = await HttpClient.GetAsync(apiEndPoint);
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            Blogs = JsonConvert.DeserializeObject<List<BlogModel>>(json)!;
        }
    }

    private async Task Save()
    {
        var blogJson = JsonConvert.SerializeObject(requestModel);
        var httpContent = new StringContent(blogJson, Encoding.UTF8, Application.Json);
        var response = await HttpClient.PostAsync(apiEndPoint, httpContent);
        if (response.IsSuccessStatusCode)
        {
            var message = await response.Content.ReadAsStringAsync();
            await JSRuntime.InvokeVoidAsync("alert", message);
            requestModel = new();
            await List();
        }
    }

    private async Task Edit(int id)
    {
        var response = await HttpClient.GetAsync($"{apiEndPoint}/{id}");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            requestModel = JsonConvert.DeserializeObject<BlogModel>(json)!;
        }
    }

    private async Task Update()
    {
        var blogJson = JsonConvert.SerializeObject(requestModel);
        var httpContent = new StringContent(blogJson, Encoding.UTF8, Application.Json);
        var response = await HttpClient.PutAsync($"{apiEndPoint}/{requestModel.BlogId}", httpContent);
        if (response.IsSuccessStatusCode)
        {
            var message = await response.Content.ReadAsStringAsync();
            await JSRuntime.InvokeVoidAsync("alert", message);
            requestModel = new();
            await List();
        }
    }

    private async Task Delete(int id)
    {
        var result = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure want to delete this data?");
        if (!result) return;

        var response = await HttpClient.DeleteAsync($"{apiEndPoint}/{id}");
        if (response.IsSuccessStatusCode)
        {
            var message = await response.Content.ReadAsStringAsync();
            await JSRuntime.InvokeVoidAsync("alert", message);
            await List();
        }
    }

    public class BlogModel
    {
        public int BlogId { get; set; }
        public string BlogTitle { get; set; }
        public string BlogAuthor { get; set; }
        public string BlogContent { get; set; }
    }

}

