@page "/blog"

<PageTitle>Blazor Web Assembly</PageTitle>

<div class="mb-3">
    <label class="form-label">Blog Title</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogTitle">
</div>
<div class="mb-3">
    <label class="form-label">Blog Author</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogAuthor">
</div>
<div class="mb-3">
    <label class="form-label">Blog Content</label>
    <input type="text" class="form-control" @bind-value="requestModel.BlogContent">
</div>

<button type="button" class="btn btn-dark me-2" @onclick="Cancel">Cancel</button>
@if (requestModel.BlogId == null)
{
    <button type="button" class="btn btn-success" @onclick="Save">Save</button>
}
else
{
    <button type="button" class="btn btn-success" @onclick="Update">Update</button>
}

@if (Blogs != null && Blogs.Count > 0)
{
    int count = 0;
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Blogs)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.BlogId</td>
                    <td>@item.BlogTitle</td>
                    <td>@item.BlogAuthor</td>
                    <td>@item.BlogContent</td>
                    <td>
                        <button type="button" class="btn btn-primary me-2" @onclick="() => Edit(item.BlogId)">Edit</button>
                        <button type="button" class="btn btn-danger" @onclick="() => Delete(item.BlogId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BlogModel requestModel = new();
    private List<BlogModel> Blogs = new List<BlogModel>();

    private void Save()
    {
        requestModel.BlogId = Guid.NewGuid().ToString();
        Blogs.Add(requestModel);
        requestModel = new();
    }

    private void Cancel()
    {
        requestModel = new();
    }

    private void Edit(string id)
    {
        var item = Blogs.FirstOrDefault(x => x.BlogId == id);
        if (item is null) return;

        requestModel.BlogId = item.BlogId;
        requestModel.BlogTitle = item.BlogTitle;
        requestModel.BlogAuthor = item.BlogAuthor;
        requestModel.BlogContent = item.BlogContent;
    }

    private void Update()
    {
        var index = Blogs.FindIndex(x => x.BlogId == requestModel.BlogId);
        if (index == -1) return;

        Blogs[index] = requestModel;
        requestModel = new();
    }

    private void Delete(string id)
    {

    }
}
